body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: black;
    color:red;

}

#opponent-choice{
    width: 240px;
    height: 240px;
    border-style: none;
    border: 0px;
    margin-top: 10px;
}

#opponent-choice img{
    border: none;
}

#your-choice{

    width: 240px;
    height: 240px;
    border: none;
    margin-top: 10px;
    
}


#choices {
    width: 350px;
    height: 80px;
    
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
    
    
    
}

#choices img{
    width:  80px;
    height: 80px;
    border-radius: 50%;
    transition: all 0.3s ease;
    margin: 10px;
    
}
#choices img:hover{
    cursor: pointer;
    border: solid red 10px;

    
}